@model List<Brand>

<div class="card shadow border-0 ml-5>

    <div class="position-absolute top-50 start-50"></div>
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Brand List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Brand" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Create New Brand
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped display" style="width:100%">
            <thead>
                <tr>
                    <th>Brand Name</th>
                    <th>Brand Image</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Brand Name</th>
                    <th>Brand Name</th>
                   @*  <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th> *@
                </tr>
            </tfoot>

        </table>

    </div>
</div>

@section Scripts{
    <script src="~/js/brand.js"></script>
    <script>
        $('#tblData').DataTable({
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        var column = this;
                        var title = column.footer().textContent;

                        // Create input element and add event listener
                        $('<input type="text" placeholder="Search ' + title + '" />')
                            .appendTo($(column.footer()).empty())
                            .on('keyup change clear', function () {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }
                            });
                    });
            },
        });
    </script>
    <link rel="stylesheet" href="~/css/brand.css" asp-append-version="true" />
}
