@model List<Product>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Create New Product
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Brand </th>
                    <th>Category</th>
                  <th>SkuCode</th>
                    <th>SkuName</th>
                    <th>MRP</th>
                    <th>SalesPrice </th>
                    <th>Code</th> 
                    <th>BaseUnit</th>
                    <th>BarcodeNumber</th>
                    <th>TaxId</th>
                    <th>PurchasePrice</th>
                    <th>Description</th>
                    <th>Warehouse</th>
                    <th>IsActive </th>
                    <th>ProductImage</th>
                   <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}
 